@import './colors.scss';
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');

body, html {
    margin: 0;
    padding: 66px 0 0 0;
    font-family: 'PT Sans', serif;
    font-size: 18px;
    color: $color-font-base;
    background-color: $color-background-base;
    word-spacing: 0.06em;
    letter-spacing: 0.06em;
    line-height: 1.6em;
}

h1, h2, h3, h4, h5 {
    line-height: 1em;
}