// Color Pallete

$color-primary-0: #5641AC;	// Main Primary color */
$color-primary-1: #9C8DD9;
$color-primary-2: #7360C1;
$color-primary-3: #3E26A1;
$color-primary-4: #2B177D;

$color-secondary-1-0: #2F9E8B;	// Main Secondary color (1) */
$color-secondary-1-1: #7ED2C4;
$color-secondary-1-2: #4EB5A4;
$color-secondary-1-3: #14947E;
$color-secondary-1-4: #087361;

$color-secondary-2-0: #C43A8E;	// Main Secondary color (2) */
$color-secondary-2-1: #E589C1;
$color-secondary-2-2: #D45BA5;
$color-secondary-2-3: #B71879;
$color-secondary-2-4: #8F0A5A;

// Color Distribution
$color-background-base: #fefefe;
$color-background-light-gray: #eee;
$color-background-gray: #ddd;
$color-background-gray-deep: #aaa;
$color-background-dark: #111;

$color-font-base: #373D3F;
$color-font-highlighted: #111;
$color-font-dark-background: #eee;
$color-font-dark-background-high-contrast: #fff;
$color-font-link: $color-secondary-2-0;